<div class="gp-calendar-control-bar row">
		<div class="col-md-4">
			<button class="btn btn-default fa fa-arrow-left" ng-click="previousMonth()"></button>
		</div>
		<div class="col-md-4 gp-calendar-month">
			<span>{{ month.format('MMMM') }} {{ month.format('YYYY') }}</span>
		</div>
		<div class="col-md-2">
			<button class="btn btn-default pull-right fa fa-eye" ng-click="filterWeekEnds()"></button>
		</div>
		<div class="col-md-2">
			<button class="btn btn-default pull-right fa fa-arrow-right" ng-click="nextMonth()"></button>
		</div>
</div>
<div class="gp-calendar row">
	<div class="col-md-12">
		<div class="gp-calendar-tab-wrapper">
			<table class="gp-calendar-tab table table-bordered">
				<thead>
					<th class="gp-calendar-head-empty"></th>
					<th ng-repeat="day in days" class="gp-calendar-header"
							ng-style="{ 'border-right': day.isEndOfWeek === true ? 'solid 2px #e74c3c' : '',
													'border-bottom': day.isSelected === true ? 'solid 2px #2980b9' : '',
													'background-color': day.isEndOfMonth === true ? '#2980b9' : ''}"
							ng-class="{ 'gp-calendar-we-is-hidden' : !isWeekEndShown && day.isWeekEnd, 'gp-calendar-we-is-shown' : isWeekEndShown && day.isWeekEnd}"
							style="text-align: center">
							{{ day.formatted }}
					</th>
				</thead>
				<tbody>
						<tr class="gp-data-row" ng-repeat="resource in resources">
							<td>{{ resource.name }}</td>
							<td ng-repeat="day in days" style="padding: 0px">
								<div class="gp-day-split" data-time-slot="{{ day.date }} AM"
																					ng-mousedown="enter($event, resource)"
																					ng-mouseover="select($event, resource)"
																					ng-mouseup="release($event)"
																					style="float:left"
																					data-selected="false"></div>
								<div class="gp-day-split" data-time-slot="{{ day.date }} PM"
																					ng-mousedown="enter($event, resource)"
																					ng-mouseover="select($event, resource)"
																					ng-mouseup="release($event)"
																					style="float:right"
																					data-selected="false"></div>
							</td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
