/*
  Calendar table
*/

.gp-selected-date {
  border-bottom-color: #3498db;
}

.gp-calendar-control-bar {
  margin-top: 10px;
}

.gp-calendar-tab-wrapper {
  overflow: auto;
  margin-top: 10px;
}

.gp-calendar-month {
  text-align: center;
  text-align;
  font-size: 15pt;
  text-transform: uppercase;
}

.gp-calendar-tab {
  table-layout: fixed;
  width: 200px;
}

th {
  overflow: hidden;
  width: 170px;
  text-align: center;
  border-bottom-width: 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10pt;
  outline:none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

td {
  outline:none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.gp-calendar-we-is-hidden {
  width:70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #ECECEC;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.gp-calendar-we-is-shown {
  width:150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #ECECEC;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.gp-day-split {
  display: inline-block;
  width: 50%;
  height: 35px;
}

.gp-day-split:nth-child(2) {
  border-left: solid 1px #ECECEC
}

.gp-data-row .selected {
  background: #2ecc71;
}
